@model VehicleProject.Web.Models.VehicleMakeVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Create Make";
}

<div class="panel panel-primary">
    <div class="panel-heading">Create Make</div>
    <div class="panel-body">
        @using (Html.BeginForm())
            {
                <div class="form-gorup">
                    @Html.LabelFor(model => model.Name, new { @class = "col-lg-3 control-label" })
                    <div class="col-lg-9">
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-gorup">
                    @Html.LabelFor(model => model.Abbr, new { @class = "col-lg-3 control-label" })
                    <div class="col-lg-9">
                        @Html.TextBoxFor(model => model.Abbr, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-9"></div>
                    <div class="col-lg-3">
                        <input type="submit" value="Create" class="btn btn-success"/>
                        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
                    </div>
                </div>
            }
    </div>
</div>