@model VehicleProject.Web.Models.VehicleMakeVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Make Details";
}


<div class="panel panel-primary">
    <div class="panel-heading panel-head">Make Details</div>
    <div class="panel-body">
        <form class="form-horizontal">
            <div>
                <div class="form-gorup">
                    @Html.LabelFor(model => model.Id, new { @class = "col-lg-3 control-label" })
                    <div class="col-lg-9">
                        @Html.TextBoxFor(model => model.Id, new { @readonly = "readonly", @class = "form-control" })
                    </div>
                </div>
                <div class="form-gorup">
                    @Html.LabelFor(model => model.Name, new { @class = "col-lg-3 control-label" })
                    <div class="col-lg-9">
                        @Html.TextBoxFor(model => model.Name, new { @readonly = "readonly", @class = "form-control" })
                    </div>
                </div>
                <div class="form-gorup">
                    @Html.LabelFor(model => model.Abbr, new { @class = "col-lg-3 control-label" })
                    <div class="col-lg-9">
                        @Html.TextBoxFor(model => model.Abbr, new { @readonly = "readonly", @class = "form-control" })
                    </div>
                </div>
            </div>


            <div class="form-group">
                <br />
                @Html.LabelFor(model => model.MakeModels, new { @class = "col-lg-3 control-label" }) 
                <div class="col-lg-9"></div>
            </div>

            <div class="form-group">
                <table class="table">
                    <tr>

                        <td>
                            Model name
                        </td>
                        <td>
                            Model Abbreviation
                        </td>
                    </tr>
                    @foreach (var item in Model.MakeModels)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(ModelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(ModelItem => item.Abbr)
                            </td>
                        </tr>
                    }
                </table>
            </div>


            <div class="form-group">
                <div class="col-lg-3"></div>
                <div class="col-lg-9">
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-success" })
                </div>
            </div>
        </form>
    </div>
</div>


