@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<VehicleProject.Web.Models.VehicleModelVM>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Vehicle Model Index";
}
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<div class="panel panel-primary">
    <div class="panel-heading panel-head">Vehicle Model Index</div>

    <div class="panel-body">

        <a href="@Url.Action("Create")" class="btn btn-success">
            <span class="glyphicon glyphicon-plus"></span>Vehicle Model
        </a>

        <hr/>
        <div>
            @using (Html.BeginForm("Index", "VehicleModel", FormMethod.Get))
            {
                @Html.Hidden("sortTerm", (string)ViewBag.currentSort);
                @Html.Hidden("filterId", (string)ViewBag.currentFilter);
                <div class="form-group">
                    <div class="col-lg-2">
                    Search: 
                    </div>
                    <div class="col-lg-3">
                    @Html.TextBox("searchTerm", ViewBag.currentSearch as string, new { @class = "form-control"})
                    </div>
                    <div class="col-lg-7">
                        <input type="submit" value="Search" class="btn btn-default" />
                    </div>
                </div>
            }
        </div>
        <hr />

        <div>
            @using (Html.BeginForm("Index", "VehicleModel", FormMethod.Get))
            {
                @Html.Hidden("sortTerm", (string)ViewBag.currentSort);
                @Html.Hidden("searchTerm", (string)ViewBag.currentSearch);
                <div class="form-group">
                    <div class="col-lg-2">
                      Filter By Make:
                    </div>
                    <div class="col-lg-3">
                    @Html.DropDownList("filterId", ViewBag.dropDownListOptions as SelectList, new { @class = "form-control" })              
                    </div>
                    <div class="col-lg-7">
                        <input type="submit" value="Apply Filter" class="btn btn-default" />
                    </div>
                </div>
            }
        </div>
        
        <table class="table">
            <tr>
                <th>                    
                    Model ID
                </th>
                <th>
                    Make Name
                    @Html.ActionLink(" ", "Index", new { sortTerm = "ByMakeNameAscending", filterId = ViewBag.currentFilter, searchTerm = ViewBag.currentSearch }, new { @class = "glyphicon glyphicon-arrow-down" })
                    @Html.ActionLink(" ", "Index", new { sortTerm = "ByMakeNameDescending", filterId = ViewBag.currentFilter, searchTerm = ViewBag.currentSearch }, new { @class = "glyphicon glyphicon-arrow-up" })
                </th>
                <th>
                    Model Name
                    @Html.ActionLink(" ", "Index", new { sortTerm = "ByNameAscending", filterId = ViewBag.currentFilter, searchTerm = ViewBag.currentSearch }, new { @class = "glyphicon glyphicon-arrow-down" })
                    @Html.ActionLink(" ", "Index", new { sortTerm = "ByNameDescending", filterId = ViewBag.currentFilter, searchterm = ViewBag.currentSearch }, new { @class = "glyphicon glyphicon-arrow-up" })
                </th>
                <th>
                    Model Abbreviation
                </th>
                <th>
                    Action
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(ModelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(ModelItem => item.Make.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(ModelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(ModelItem => item.Abbr)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Update", new { id = item.Id }, new { @class = "btn btn-success" }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-primary" })
                    </td>
                </tr>
            }
        </table>
    </div>
</div>


<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
new { page, filterId = ViewBag.currentFilter, sortTerm = ViewBag.currentSort, searchTerm = ViewBag.currentSearch}))