@model VehicleProject.Web.Models.VehicleModelVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Update Model";
}


<div class="panel panel-primary">
    <div class="panel-heading panel-head">Update Model</div>
    <div class="panel-body">
@using (Html.BeginForm())
            {

            @Html.HiddenFor(model => model.MakeId)

            <div class="form-gorup">
                @Html.LabelFor(model => model.Id, new { @class = "col-lg-3 control-label" })
                <div class="col-lg-9">
                    @Html.TextBoxFor(model => model.Id, new { @readonly="readonly", @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Make.Name, new { @class = "col-lg-3 control-label" })
                <div class="col-lg-9">
                    @Html.TextBoxFor(model => model.Make.Name, new { @readonly="readonly", @class = "form-control" })
                </div>
            </div>

            <div class="form-gorup">
                @Html.LabelFor(model => model.Name, new { @class = "col-lg-3 control-label" })
                <div class="col-lg-9">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-gorup">
                @Html.LabelFor(model => model.Abbr, new { @class = "col-lg-3 control-label" })
                <div class="col-lg-9">
                    @Html.TextBoxFor(model => model.Abbr, new { @class = "form-control" })
                </div>
            </div>


                <div class="form-group">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-9">
                        <input type="submit" value="Update" class="btn btn-danger" />
                        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-success" })
                    </div>
                </div>
            }
    </div>
</div>
